.resume {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .8);
    
}

.row {
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

.resume h1 {
    font-size: 1.3rem;
    letter-spacing: 1.3px;
}

.resume h2 {
    font-size: 1.1rem;
    text-align: left;
    letter-spacing: 1.3px;
}

.resume h3 {
    text-align: left;
    letter-spacing: 1.3px;
}

.resume p {
    font-family: monospace;
    font-size: 1.4rem;
    text-align: left;
}

.mission span {
    color: #cddc39
}

.resume a {
    padding: 1.1rem;
    text-align: right;
}

a:hover {
    cursor: pointer;
}

.mission {
    margin: 2rem;;
}


.contact-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    color: #0a1985;
    margin: 1rem;
}

.MuiSvgIcon-root {
    font-size: 2rem;
}

/* Media Queries */

@media (max-width: 768px) {
    .contact-icons {
        width: auto;
    }

    .MuiSvgIcon-root {
        font-size: 2.8rem !important;
    }
}

@media(max-width: 500px) {
    .mission {
        margin: 1rem;;
    }

    .MuiSvgIcon-root {
        font-size: 2rem !important;
    }

}
 