body {
  margin: 0;
  font-family: -apple-system, "Nineteen Ninety Seven", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: black; */
  height: 100vh;
}
@font-face {
  font-family: "Nineteen Ninety Seven";
  src: url('../src/fonts/Nineteen Ninety Seven.otf');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
